body {
    background-color: #E2CAC7;
}

h2 {
    font-family: 'Old Standard TT', serif;
    font-size: 25px;
    text-align: center;
}

.text {
    padding-top: 10px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    padding-top: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.english-flag {
    height: 73px;
    width: 132px;
    cursor: pointer;
}

.french-flag {
    height: 78px;
    width: 135px;
    float: right;
    cursor: pointer;
}

.social-networks {
    /* position: absolute; */
    bottom: 0;
    text-align: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

.social-networks a {
    font-size: 32px;
    color: #84050E;
    padding: 10px;
    transition: 0.2s;
}


.social-networks a:hover {
    text-decoration: none;
}

.facebook:hover {
    color: #0077e2;
}

.instagram:hover {
    color: #9b6954;
}

.twitter:hover {
    color: #00aced;
}

@media only screen and (max-width: 600px) {
    .english-flag {
        height: 40px;
        width: 80px;
        cursor: pointer;
    }
    
    .french-flag {
        height: 40px;
        width: 80px;
        cursor: pointer;
    }
 
    .language {
        font-size: 15px; 
    }
}
