.wineplant-img{
    width: 60%;
    margin-top: 60px;
    margin-left: 40px;
}

p, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

/* Har tilføjet denne her. tjek om den ødelægger noget andet */
.container {
    /* margin-bottom: 110px; */
}

hr {
    border-top: 1px solid #C99A99 !important;
}

.col-md-12 {
    padding-left: 43% !important;
}

@media only screen and (max-width: 600px) {
    img {
        display: none;
    }
}